/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* VARIABLES DE COLOR */
:root {
    --celeste: #10c4c7;
    --azul: #006c8f;
}

/* BARRA SUPERIOR */
.top-bar {
    background: var(--celeste);
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;

    padding: 10px 5%;
    font-size: 16px;
    font-weight: 600;
}


/* HEADER */
.main-header {
    background: var(--azul);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}

.main-header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* CONTENEDOR GENERAL */
.container {
    padding: 40px 5%;
    min-height: calc(100vh - 200px);
}

/* HERO */
.hero {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: clamp(320px, 55vh, 520px);

    background: url("../img/hero.jpg") center center / contain no-repeat;
    background-color: #eaf6f8; /* relleno cuando sobren bordes */

    display: flex;
    align-items: center;
}


/* FORMULARIOS (login, registro, etc.) */
.form-container {
    max-width: 420px;
    margin: 60px auto;
    padding: 30px;
    background: #f5f5f5;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: var(--azul);
    color: white;
    text-align: center;
    padding: 15px;
}
