/* ===== HERO PRINCIPAL ===== */
.hero {
    background: linear-gradient(
        to right,
        #0097a7,
        #00bcd4
    );
    color: white;
    padding: 80px 20px;
}

.hero-texto {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* ===== BOTÓN PRINCIPAL ===== */
.boton-principal {
    display: inline-block;
    background-color: white;
    color: #0097a7;
    padding: 14px 28px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: background 0.3s, color 0.3s;
}

.boton-principal:hover {
    background-color: #006978;
    color: white;
}

}
