<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Odontología Aquino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- BARRA SUPERIOR -->
<div class="top-bar">
    <div>📞 SEDE MARIANO MELGAR <strong>948 296 276</strong></div>
    <div>📞 SEDE SIMÓN BOLÍVAR <strong>920 551 702</strong></div>
    <div class="social">
        SÍGUENOS
        <a href="https://www.facebook.com/profile.php?id=100057601592425" target="_blank">FB</a>
        <a href="#">IG</a>
    </div>
</div>

<!-- HEADER -->
<header class="main-header">
    <div class="logo">ODONTOLOGÍA AQUINO</div>
    <nav>
        <a href="/">Inicio</a>
        <a href="/cita">Citas</a>
        <a href="/login">Login</a>
        <a href="/registro">Registro</a>
    </nav>
</header>

<!-- CONTENIDO -->
<main class="container">
    {% block contenido %}{% endblock %}
</main>

<!-- FOOTER -->
<footer>
    © Copyright 2025 – ODONTOLOGÍA AQUINO  
    RUC 1029569488
</footer>

</body>
</html>
