<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Odontología Aquino</title>

    <!-- ICONOS POR DEFECTO (NO IMÁGENES) -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- BARRA SUPERIOR -->
<div class="top-bar">
    <div class="top-left">
        📞 SEDE MARIANO MELGAR 948 296 276
        &nbsp;&nbsp;
        📞 SEDE SIMÓN BOLÍVAR 920 551 702
    </div>

    <div class="top-right">
        <span>SÍGUENOS</span>
        <a href="https://www.facebook.com/profile.php?id=100057601592425" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</div>

<!-- NAV -->
<nav class="navbar">
    <div class="logo">ODONTOLOGÍA AQUINO</div>

    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>

        {% if session.get("id_usuario") %}
            <li><a href="/cita">Citas</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/registro">Registro</a></li>
        {% endif %}
    </ul>

</nav>




<!-- CONTENIDO -->
<main class="contenido">
    {% block contenido %}{% endblock %}
</main>

<!-- FOOTER -->
<footer>
    © Copyright 2025 – ODONTOLOGÍA AQUINO RUC 1029569488
</footer>
<script src="{{ url_for('static', filename='js/validaciones.js') }}"></script>

</body>
</html>


