{% extends "base.html" %}

{% block contenido %}

<div class="form-container">
    <h2>Agendar Cita</h2>

    {% if ya_tiene_cita %}
        <p>
            Ya tienes una cita programada:<br>
            <strong>{{ cita[0] }} a las {{ cita[1] }}</strong>
        </p>

    {% else %}

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <!-- ELEGIR FECHA -->
        <form method="GET">
            <label>Selecciona un día</label>
            <input type="date" name="fecha" required>

            <!-- MENSAJE JS -->
            <p id="mensaje-fecha" style="margin-top:10px; color:#006b8f;"></p>

            <button class="btn-principal" type="submit">
                Ver horarios
            </button>
        </form>

        {% if fecha %}
            <h3 style="margin-top:25px;">Horarios disponibles</h3>

            <div class="horarios">
                {% for h in horarios %}
                    {% if h in ocupados %}
                        <button class="btn-ocupado" disabled>
                            {{ h }} (Ocupado)
                        </button>
                    {% else %}
                        <form method="POST" style="display:inline;">
                            <input type="hidden" name="fecha" value="{{ fecha }}">
                            <input type="hidden" name="hora" value="{{ h }}">
                            <button class="btn-hora">
                                {{ h }}
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}
</div>

{% endblock %}

